.form-body{
    padding-top: 75px;
    padding-bottom: 75px;
    min-height: 300px;
}

.bot-nav-bar{

}

.row{
    padding-top: 5px;
    padding-bottom: 5px;
}

.centre{
    margin: auto;
}

.field-label{
    font-weight: bold; 
}

.field-wrapper{
    padding-right: 5px;
    padding-left: 5px;
}

.small-num-in{
    max-width: 50px;
}

.field{
    width: 100%;
}

/*bootstrap override*/
.btn{
    white-space: normal !important;
    word-wrap: break-word; 
}

.hidden{
    visibility: hidden;
}

.swappedOut{
    display: none;
}

.error{
    border: 1px solid red;
}